<div class="container">
  <div class="jumbotron">
    <h1><%= @welcome_message %></h1>
      <h3><%= @webshop %></h3>
        <br>
        <h3>You can choose from <%= @products.count %> different products. <%= link_to "Start shoping now!", products_path %></h3>
   </div>
</div>




