<div class="container">
<% if current_user.admin? %>
<h1>All Products <%= link_to 'Create new', new_product_path, class:'btn btn-primary' %></h1>
<% end %>
<% unless flash[:notice].blank? %>
<div class="alert alert-sucess">
  <p><%= flash[:notice] %></p>
</div>
<% end %>

</div>
    
<div class="container">
   <%= count_for @products, 'Total' %>
<br>
    <table style="width: auto;" class = "table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Seller</th>
          <th>Category</th>
          <th>Created At</th>
          <% if current_user.admin? %>
          <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
       <%= render @products %>
     </tbody>
    </table>
</div>
